/*Reset a 0 'cero' todo*/
* {
	margin: 0;
	padding: 0;
}

*::after, *::before {
	box-sizing: border-box;
}

/*Dando un 100% en alto y ancho*/
html, body {
	height: 100%;
	width: 100%;
}

/* Menor a 320px una imagen*/

@media screen and (max-width: 319px) {
	body {
		visibility: hidden;
	}
}

/*Mayor a 721px*/

@media screen and (min-width: 721px) {
	body {
		visibility: hidden;
	}
}